<p>Register with one or more of these services:</p>

<ul id="auth">
 <li><%- authorizationLink('facebook', 'Facebook') %></li>
  <li><%- authorizationLink('github', 'GitHub') %></li>
  <li><%- authorizationLink('linkedin', 'LinkedIn') %></li>
  <li><%- authorizationLink('twitter', 'Twitter') %></li>
</ul>

<p>Once we register API keys, these will be available:</p>

<ul id="auth">
 <li><%- authorizationLink('dropbox', 'Dropbox') %></li>
 <li><%- authorizationLink('fitbit', 'FitBit') %></li>
 <li><%- authorizationLink('foursquare', 'foursquare') %></li>
 <li><%- authorizationLink('gmail', 'Gmail') %></li>
 <li><%- authorizationLink('google', 'Google') %></li>
 <li><%- authorizationLink('gcontacts', 'Google Contacts') %></li>
 <li><%- authorizationLink('instagram', 'Instagram') %></li>
 <li><%- authorizationLink('runkeeper', 'RunKeeper') %></li>
 <li><%- authorizationLink('tumblr', 'Tumblr') %></li>
 <li><%- authorizationLink('wordpress', 'WordPress') %></li>
</ul>

<div id="profiles"></div>

<hr>

<div id="statuses"></div>
